.url-func-container {
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;

  .container {
    width: 100%;
  }

  .title {
    margin: 0;
  }

  .url-container {
    width: 80%;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;

    .input {
      padding: 17px 15px;
      width: 100%;
      border: none;
      border-radius: 30px;
      outline: none;
      border: 1px solid #ddd;
      box-sizing: border-box;
      box-shadow: inset 0px 2px 4px 1px #888888;
      font-size: 16px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      transition: all 1s ease;
      &.error {
        border: 1px solid red;
      }

      &.success {
        border-radius: 30px;
      }
    }

    .error-container {
      height: 0;
      overflow: hidden;
      box-sizing: border-box;
      color: red;
      width: 100%;
      text-align: center;
      background: rgba(255, 0, 0, 0.281);
      border-top: 0;
      &.show {
        border: 1px solid red;
        padding: 3px;
        transition: all 0.5s ease;
        height: 100%;
      }
    }

    .anime-container {
      width: 100%;
      height: max-content;
      min-height: 300px;
      overflow: hidden;
      position: relative;
      transition: all 0.3s ease;

      &.show {
        margin-top: 10px;
      }

      .submit-btn {
        position: relative;
        cursor: pointer;
        display: flex;
        transition: background-color 0.2s ease;

        &:focus,
        &:hover {
          outline: none;
          &:before,
          &:after {
            background-color: #1a3a83;
          }
          .text {
            border-bottom: 1px solid #fff;
            padding-bottom: 5px;
          }
        }

        &:before,
        &:after {
          content: "";
          position: absolute;
          top: 0;
          width: 100%;
          height: 25px;
          z-index: 1;
          background-color: #1e4bb5;
          -webkit-transition: all 0.4s ease;
          transition: all 0.4s ease;
        }
        &:after {
          margin-top: 25px;
          z-index: -1;
          left: 0;
          border-radius: 0px 0px 40px 40px;
        }

        .text {
          color: #fff;
          position: relative;
          z-index: 6;
          display: inline-block;
          margin: auto;
          margin-top: 14px;
          border-bottom: 1px solid transparent;
        }

        &.hide {
          &:before {
            z-index: 5;
            background-color: #0f1a35;
            border-radius: 40px 40px 0px 0px;
            -webkit-box-shadow: inset 0px 23px 0px #1e4bb5;
            box-shadow: inset 0px 23px 0px #1e4bb5;
          }
          &:after {
            background-color: #0f1a35;
            -webkit-box-shadow: inset 0px -23px 0px #1e4bb5;
            box-shadow: inset 0px -23px 0px #1e4bb5;
          }

          .text {
            display: none;
          }
        }
      }

      .result-container {
        width: 58%;
        margin: auto;
        background: #fff;
        height: 0;
        overflow: hidden;

        &.show {
          animation: reveal 1.2s ease;
          border-top: 2px dashed #6977bd;
          border-bottom: 2px dashed #dcdcdc;
          min-height: 230px;
          height: 250px;
          z-index: 4;
          position: absolute;
          top: 25px;
          width: 80%;
          left: 10%;
          right: 10%;
          box-shadow: 0px 0px 4px 0px #545454;
        }

        .long-url {
          padding: 20px;
          background: #ddd;
          margin: 15px;

          .value {
            overflow-wrap: break-word;
            color: rgb(126, 126, 126);
          }
        }

        .result {
          min-height: 100px;
          width: 100%;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;

          .copy-btn {
            padding: 10px;
            background: rgba(221, 221, 221, 0.63);
            width: 80px;
            margin-top: 10px;
            border: none;
            position: relative;
            z-index: 2;
            transition: all 0.3s ease;
            &::before {
              content: "";
              position: absolute;
              bottom: 0;
              width: 100%;
              right: 0;
              left: 0;
              height: 3px;
              background: #1e4bb5;
              transition: all 0.3s ease;
            }
            &:hover {
              color: #fff;
              &::before {
                z-index: -1;
                height: 100%;
              }
            }
            &:active {
              outline: none;
              &::before {
                z-index: -1;
                height: 100%;
                background: #749eff;
              }
            }
            &:focus {
              outline: none;
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: 425px) {
    .url-container {
      width: 100%;
      .anime-container {
        .result-container {
          .long-url {
            font-size: 12px;
          }
          .result {
            span {
              font-size: 12px;
            }
          }
        }
      }
    }
  }

  @keyframes reveal {
    0% {
      overflow: hidden;
      transform: translateY(-110%);
    }

    20% {
      transform: translateY(-90%);
    }

    30% {
      transform: translateY(-80%);
    }

    40% {
      transform: translateY(-70%);
    }

    60% {
      transform: translateY(-60%);
    }

    70% {
      transform: translateY(-40%);
    }

    100% {
      transform: translateY(0%);
    }
  }
}
